<section class="cta-carousel"
data-slick='{
    "dots": true,
    "infinite": true,
    "mobileFirst": true,
    "slidesToShow": 2,
    "arrows": false,
    "slidesToScroll": 1,
    "responsive": [
        {
            "breakpoint": 550,
            "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 1
            }
        },
        {
            "breakpoint": 800,
            "settings": {
                "slidesToShow": 3,
                "slidesToScroll": 1,
                "dots": false                                
            }
        },
        {
            "breakpoint": 1100,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 1,
                "dots": false                                
            }
        }
    ]

}'
>

    <div class="cta-slide">
        <a href="/doug-journey" class="cta-slide--action">
            <img src="{{cdn 'webdav:/img/home-page/hp-doug.jpg'}}" alt="Doug's Journey">
            <div class="cta-slide--text">
                Doug's Journey
            </div>
        </a>
    </div>

    <div class="cta-slide">
        <a href="/e-cigs/" class="cta-slide--action">
            <img src="{{cdn 'webdav:/img/home-page/hp-shipping.jpg'}}" alt="Save with Auto-Ship">
            <div class="cta-slide--text">
               Save with Auto-Ship
            </div>
        </a>
    </div>

    <div class="cta-slide">
        <a href="/vaping/vape-juice/" class="cta-slide--action">
            <img src="{{cdn 'webdav:/img/home-page/hp-tt.jpg'}}" alt="Tropical Twist">
            <div class="cta-slide--text">
                Tired of Tobacco?
            </div>
        </a>
    </div>

    <div class="cta-slide">
        <a href="/researchers" class="cta-slide--action">
            <img src="{{cdn 'webdav:/img/home-page/hp-researchers.jpg'}}" alt="Researchers">
            <div class="cta-slide--text">
                Researchers
            </div>
        </a>
    </div>
</section>
