<div class="cta-article">
    <div class="cta-article--img">
        <img src="{{cdn 'webdav:/img/home-page/hp-billboardvapeguy.png'}}" alt="vaping guy">
        <div class="cta-article--layer">
            <div class="cta-article--card">
                <div class="cta-text--inner">
                    <div class="cta--card-heading">
                        New to Vaping?
                    </div>
                    <div class="cta--card-text">
                        NJOY the switch
                    </div>
                    <a href="/njoy-the-switch" class="cta--card-action">
                        <div class="cta--card-button button--primary-dark">
                            Learn More
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-article cta-article--alt">
    <div class="cta-article--img">
        <img src="{{cdn 'webdav:/img/home-page/hp-pftfamily.png'}}" alt="PFT Family">
        <div class="cta-article--layer">
            <div class="cta-article--card">
                <div class="cta-text--inner">
                    <div class="cta--card-heading">
                        All The Flavor Without The Fuss
                    </div>
                    <div class="cta--card-text">
                        NJOY Convenience Vaping
                    </div>
                    <a href="/vaping" class="cta--card-action">
                        <div class="cta--card-button button--primary-dark">
                            Shop PFT
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>
