<form class="form" action="https://em-njoy.com/pub/rf" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="EMAIL_PERMISSION_STATUS_" value="I">
        <input type="hidden" name="LEAD_SOURCE" value="www.njoy.com">
        <input type="hidden" name="_ri_" value="X0Gzc2X%3DYQpglLjHJlTQGl0tlcyeGzbeyCsWaYtmEzgF3nUaJYnFXPVwjpnpgHlpgneHmgJoXX0Gzc2X%3DYQpglLjHJlTQGpfBKyNzgKahDflWR6b9MjL8mU55Ya46N">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" name="EMAIL_ADDRESS_" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <input class="button button--primary-light form-prefixPostfix-button--postfix newsletter--btn" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
        </div>
    </fieldset>
    <div class="subscribe-text">
        Sign up now for new product alerts &amp; exclusive offers.
    </div>
</form>
    
