<section class="home-full-carousel"
data-slick='{
    "dots": true,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "autoplay": true,
    "prevArrow": false,
    "nextArrow": false,
    "autoplaySpeed": {{carousel.swap_frequency}}
}'>
<div class="home-full-slide">
    <div class="home-full-image">
        <img src="{{cdn 'webdav:/img/home-page/BottomSlide1-Daily.jpg'}}">
    </div>
    <div class="home-content--inner">
        <div class="home-full-content">
            <div class="home-full-top-heading">
                NJOY Daily Disposable E-Cigs
            </div>
            <div class="home-full-heading">
                Choose From A Variety Of Flavors
            </div>
            <div class="home-full-text">
                Choose From A Variety Of Flavors
            </div>
            <a href="/daily" class="home-full--action">
                <div class="home-full-cta  button--primary-light">
                    Buy Daily Now
                </div>
            </a>
        </div>
    </div>
</div>
<div class="home-full-slide">
    <div class="home-full-image">
        <img src="{{cdn 'webdav:/img/home-page/BottomSlider2-PFT.jpg'}}">
    </div>
    <div class="home-content--inner">
        <div class="home-full-content">
            <div class="home-full-top-heading">
                Tropical Twist Pre-Filled Tanks
            </div>
            <div class="home-full-heading">
                All The Flavor Without The Fuss
            </div>
            <div class="home-full-text">
                All The Flavor Without The Fuss
            </div>
            <a href="/vaping" class="home-full--action">
                <div class="home-full-cta  button--primary-light">
                     Buy PFT Now
                </div>
            </a>
        </div>
    </div>
</div>
<div class="home-full-slide">
    <div class="home-full-image">
        <img src="{{cdn 'webdav:/img/home-page/BottomSlide3-Kings.jpg'}}">
    </div>
    <div class="home-content--inner">
        <div class="home-full-content">
            <div class="home-full-top-heading">
                Similar Look, feel, and flavor of a traditional cigarette
            </div>
            <div class="home-full-heading">
                The Iconic Disposable E-Cigs That Started It All
            </div>
            <div class="home-full-text">
                The Iconic Disposable E-Cigs That Started It All
            </div>
            <a href="/king" class="home-full--action">
                <div class="home-full-cta  button--primary-light">
                   Buy Kings Now
                </div>
            </a>
        </div>
    </div>
</div>
<div class="home-full-slide">
    <div class="home-full-image">
        <img src="{{cdn 'webdav:/img/home-page/BottomSlide4-Recharge.jpg'}}">
    </div>
    <div class="home-content--inner">
        <div class="home-full-content">
            <div class="home-full-top-heading">
                NJOY King Satisfaction in a rechargeable form
            </div>
            <div class="home-full-heading">
                Classic and Convenient
            </div>
            <div class="home-full-text">
                Classic and Convenient
            </div>
            <a href="/recharge" class="home-full--action">
                <div class="home-full-cta  button--primary-light">
                   Buy Recharge Now
                </div>
            </a>
        </div>
    </div>
</div>
</section>
