<div class="faq">
    <div class="faq-mobile">
        <img src="{{cdn 'webdav:/img/home-page/ditch-switch-1.jpg'}}">
        <div class="faq-content--alt-inner">
            <div class="faq-heading">Why Should I Ditch &amp; Switch To Vaping?</div>
            <div class="faq-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa placeat fugit atque minima? Fugiat ipsum optio et minima aliquid laboriosam dolorem, perferendis, architecto voluptatum mollitia explicabo at accusamus porro quo?
            </div>
        </div>
    </div>
    <div class="faq-desktop">
        <img src="{{cdn 'webdav:/img/home-page/ditch-switch.jpg'}}">
        <div class="faq-container">
            <div class="faq-content faq-content--alt">
                <div class="faq-content--alt-inner">
                    <div class="faq-heading">Why Should I Ditch &amp; Switch To Vaping?</div>
                    <div class="faq-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa placeat fugit atque minima? Fugiat ipsum optio et minima aliquid laboriosam dolorem, perferendis, architecto voluptatum mollitia explicabo at accusamus porro quo?
                    </div>
                    <a href="/">
                        <div class="faq-cta button--primary-dark">
                                Find Out More
                        </div>
                    </a>
                </div>
            </div>
            <div class="faq-content">
                <div class="faq-subheading">
                    Where to Start? What Device is Best for Me?
                </div>
            </div>
            <div class="faq-content">
                <div class="faq-subheading">
                    How Do I Get The Best Out of My E-Cigarette?
                </div>
            </div>
        </div>
    </div>
</div>
