
<ul class="partners-inner">
    <div class="partners-heading">
            Trade Partners
    </div>
    <li class="partners-item">
        <img src="{{cdn 'webdav:/img/home-page/trade-711.png'}}">
    </li>
    <li class="partners-item">
        <img src="{{cdn 'webdav:/img/home-page/trade-extramile.png'}}">
    </li>
    <li class="partners-item">
        <img src="{{cdn 'webdav:/img/home-page/trade-jacksons.png'}}">
    </li>
    <li class="partners-item">
        <img src="{{cdn 'webdav:/img/home-page/trade-holiday.png'}}">
    </li>
    <li class="partners-item">
        <img src="{{cdn 'webdav:/img/home-page/trade-mapco.png'}}">
    </li>
<div class="partners-cta">
    <a href="/trade-partners" class="partners-action">
        <div class=" button--primary-dark">
            Learn More
        </div>
    </a>
</div>
</ul>
