<h2 class="press-heading">
        <span>Press</span>
</h2>
<section class="press-carousel"
    data-slick='{
        "dots": true,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow":1,
        "slidesToScroll": 1,
        "arrows": false,
        "autoplay": true,
         "speed": 4000,
        "lazyLoad": "progressive",
        "responsive": [
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "dots": false,
                    "arrows": false
                }
            }
        ]
    }'
>
    <div class="press-slide">
        <div class="press-img"><img src="{{cdn 'webdav:/new-homepage-img/gizmodo.gif'}}"></div>
        <div class="press-text"><p>When it comes to disposable e-cigs the NJOY Daily are the most economical and strangely the most powerful on the market.</p></div>
    </div>
    <div class="press-slide">
        <div class="press-img spinfuel-logo"><img src="{{cdn 'webdav:/new-homepage-img/spinfuel.gif'}}"></div>
        <div class="press-text"><p>NJOY Daily are absolutely game changers. I am beyond impressed, and believe me, being impressed in the vaping industry is not easy.</p></div>
    </div>
    <div class="press-slide">
        <div class="press-img"><img src="{{cdn 'webdav:/new-homepage-img/vapestaff.gif'}}"></div>
        <div class="press-text"><p>NJOY have taken their time to create a disposable that delivers. The NJOY Daily is the new king of the hill when it comes to disposable.</p></div>
    </div>
</section>
