<h2 class="testimonials-heading">
    <span>Testimonials</span>
</h2>
<section class="testimonial-carousel"
    data-slick='{
        "dots": false,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow":1,
        "slidesToScroll": 1,
        "arrows": false,
        "autoplay": true,
        "speed": 4000,
        "lazyLoad": "progressive",
        "responsive": [
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                }
            }
        ]

    }'
>
    <div class="testimonial-slide">
        <span class="icon icon--quote-left">
            <img src="{{cdn 'img/quote-left.png'}}" alt="Quote">
        </span>
        <span class="icon icon--quote-right">
            <img src="{{cdn 'img/quote-right.png'}}" alt="End-Quote">
        </span>
        <div class="testimonial-name">Heather Downes</div>
        <div class="testimonial-text">
            NJOY Daily's are light and feel like a real cigarette. I've been meaning to email the owner of NJOY to say thank you from the bottom of my heart for helping me in so many ways!
        </div>
        <!-- <a href="/" class="testimonial--action">
            <div class="testimonial-cta button--primary--alt">
                Read More
            </div>
        </a> -->
    </div>
    <div class="testimonial-slide">
        <span class="icon icon--quote-left">
            <img src="{{cdn 'img/quote-left.png'}}" alt="Quote">
        </span>
        <span class="icon icon--quote-right">
            <img src="{{cdn 'img/quote-right.png'}}" alt="End-Quote">
        </span>
        <div class="testimonial-name">David Gre</div>
        <div class="testimonial-text">
            If one desires the closest thing to smoking without smoking, the Daily is for you. They are in my opinion better than cigarettes by FAR. They do not smell or burn and last all day up to 3. Good job. How can I buy your stock?
        </div>
        <!-- <a href="/" class="testimonial--action">
            <div class="testimonial-cta button--primary--alt">
                Read More
            </div>
        </a> -->
    </div>
</section>
