<div class="newsletter-container">
    <div class="newsletter-heading">Newsletter<br>Sign-up</div>
    <div class="newsletter-subheading">New Products Alerts<br>Exclusive Offers and Savings</div>
    <div class="newsletter-form">
        {{> components/common/subscription-form}}
    </div>
</div>
<div class="newsletter-container">
    <div class="newsletter-heading">Sales &<br>Promotions</div>
    <div class="newsletter-subheading">Instant savings<br>on selected products</div>
    <a href="https://njoy.com/deals"><button class="button button--primary--alt button--primary-dark">Shop Now</button></a>
</div>
