<div class="partners-container">
    <h2 class="partners-heading">
        <span>Partners</span>
    </h2>
    <hr align="center">
    <div class="partners__subheading"><a href="https://njoy.com/store-locator/" style="text-decoration: none; cursor: pointer">FIND A STORE</a></div>

    <section class="partner-images">
        <img src="{{cdn 'webdav:/new-homepage-img/711.PNG'}}">
        <img src="{{cdn 'webdav:/new-homepage-img/jacksons.PNG'}}">
        <img src="{{cdn 'webdav:/new-homepage-img/holiday.png'}}">
        <img src="{{cdn 'webdav:/new-homepage-img/mapco.PNG'}}">
        <img src="{{cdn 'webdav:/new-homepage-img/extramile.PNG'}}">
    </section>
</div>
