// text-colors
$text-color-dark: #000;
$text-color-light: #fff;
$text-color-med: #A8A8A8;
$text-color-darker: #202020;

$container-color: #F7F7F9;

// page gutters
$desktop-gutter: 0 12rem;
$mobile-gutter: 0 1rem;

// font family
$body-font: "Avenir-Light";
$body-font-bold: "Avenir-Light";

$heading-font: "Avenir-Light";
$heading-font-dark: "Avenir-Light";
$heading-font-bold: "Avenir-Light";

