.the-loop {
  // utility

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .justify {
    text-align: justify;
  }

  .hidden-sm {
    display: none;
  }

  // grid

  $width: 90%;
  $gutter: 4%;
  $breakpoint-small: 33.75em; // 540px
  $breakpoint-med: 45em; // 720px
  $breakpoint-large: 60em; // 960px

  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-small) {
      width: 80%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      width: 75%;
      max-width: 60rem;
    }
  }

  .row {
    position: relative;
    width: 100%;
  }

  .row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: $width;
  }

  .col-1-sm {
    width: ($width / 12) - ($gutter * 11 / 12);
  }
  .col-2-sm {
    width: ($width / 6) - ($gutter * 10 / 12);
  }
  .col-3-sm {
    width: ($width / 4) - ($gutter * 9 / 12);
  }
  .col-4-sm {
    width: ($width / 3) - ($gutter * 8 / 12);
  }
  .col-5-sm {
    width: ($width / (12 / 5)) - ($gutter * 7 / 12);
  }
  .col-6-sm {
    width: ($width / 2) - ($gutter * 6 / 12);
  }
  .col-7-sm {
    width: ($width / (12 / 7)) - ($gutter * 5 / 12);
  }
  .col-8-sm {
    width: ($width / (12 / 8)) - ($gutter * 4 / 12);
  }
  .col-9-sm {
    width: ($width / (12 / 9)) - ($gutter * 3 / 12);
  }
  .col-10-sm {
    width: ($width / (12 / 10)) - ($gutter * 2 / 12);
  }
  .col-11-sm {
    width: ($width / (12 / 11)) - ($gutter * 1 / 12);
  }
  .col-12-sm {
    width: $width;
  }

  @media only screen and (min-width: $breakpoint-med) {
    .col-1 {
      width: ($width / 12) - ($gutter * 11 / 12);
    }
    .col-2 {
      width: ($width / 6) - ($gutter * 10 / 12);
    }
    .col-3 {
      width: ($width / 4) - ($gutter * 9 / 12);
    }
    .col-4 {
      width: ($width / 3) - ($gutter * 8 / 12);
    }
    .col-5 {
      width: ($width / (12 / 5)) - ($gutter * 7 / 12);
    }
    .col-6 {
      width: ($width / 2) - ($gutter * 6 / 12);
    }
    .col-7 {
      width: ($width / (12 / 7)) - ($gutter * 5 / 12);
    }
    .col-8 {
      width: ($width / (12 / 8)) - ($gutter * 4 / 12);
    }
    .col-9 {
      width: ($width / (12 / 9)) - ($gutter * 3 / 12);
    }
    .col-10 {
      width: ($width / (12 / 10)) - ($gutter * 2 / 12);
    }
    .col-11 {
      width: ($width / (12 / 11)) - ($gutter * 1 / 12);
    }
    .col-12 {
      width: $width;
    }

    .hidden-sm {
      display: block;
    }
    @media only screen and (max-width: $breakpoint-small) {
      text-align: center;
    }
  }

  // Page elements

  .loop--nav {
    width: 100%;
    ul {
      text-align: right;
      height: 30px;
      @media only screen and (max-width: $breakpoint-small) {
        text-align: center;
      }
      li {
        text-align: center;
        display: inline;
        list-style: none;
        margin-left: 15px;
        padding: 5px 0;
        cursor: pointer;
      }
    }
    .order {
      background-color: #202020;
      color: #FFFFFF;
      border: solid #202020;
      border-radius: 10px;
      padding: 4px;
    }
    a:hover {
      color: #808080;
    }
    a:active {
      color: #808080;
    }
  }
  .loop--intro {
    position: relative;
    max-width: 80%;
    margin: 10px 8vw;
    img {
      max-height: 65%;
      max-width: 65%;
      @media only screen and (max-width: $breakpoint-small) {
        max-height: 90%;
        max-width: 90%;
      }
    }
    h1.strong {
      font-size: 2.3em;
      font-weight: 800;
      text-transform: uppercase;
    }
    .description {
      padding-top: 2em;
      padding-bottom: 2em;
      font-size: 1.32em;
      @media only screen and (min-width: $breakpoint-large) {
        padding-bottom: 7em;
      }
    }
    .price {
      display: inline-block;
      font-size: 1.32em;
      form {
        float: right;
        position: relative;
        left: 5em;
        input[type='submit'] {
          text-decoration: none;
          font-weight: 800;
          background: none;
          border: none;
          -webkit-appearance: none;
        }
      }

    }
  }
  .loop--pod {
    position: relative;
    max-width: 80%;
    margin: 10px 8vw;
/*    border: 2px solid;
    border-left-color: lightgreen;
    border-right-color: lightblue;
    border-top-color: lightcoral;
    border-bottom-color: sandybrown;*/
    padding: 2px;
/*    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #e8eff7;*/
    figure {
      height: auto;
      margin: 10px;
      img {
        max-height: 100%;
/*        height: 400px;
        width: 400px;
        @media only screen and (max-width: $breakpoint-small) {
          max-height: 90%;
          max-width: 90%;
        }*/
      }
      figcaption {
        text-align: center;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: bolder;
      }
    }
    .description {
      font-size: 1.32em;
      li {
        a {
          text-decoration: none;
          &:hover {
            color: cornflowerblue;
            font-weight: 800;
          }
        }
      };
    }
    h1, h4 {
      text-align: center;
      text-transform: capitalize;
    }
    h1.title {
      font-weight: 600;
      font-size: 2.3em;
    }
    h4.subtitle {
      font-weight: 800;
      font-style: italic;
      font-size: 1.23em;
      margin-top: 0 !important;
    }
    .green{
      color: green;
      font-weight: 800;
    }
  }
  .loop--video {
    position: relative;
    max-width: 80%;
    margin: 50px 8vw;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .loop-gallery {
    position: relative;
    max-width: 80%;
    margin: 50px 8vw;
    h1, h4 {
      text-align: center;
      text-transform: capitalize;
    }
    h1.title {
      font-weight: 600;
      font-size: 2.3em;
    }
    h4.subtitle {
      font-weight: 800;
      font-style: italic;
      font-size: 1.23em;
      margin-top: 0 !important;
    }
    figure {
      height: 100%;
      margin: 10px;
      figcaption {
        text-align: center;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: bolder;
      }
    }
    img {
      max-height: 100%;
      max-width: 100%;
    }
    @include breakpoint($medium-only) {
      display: none;
    }
  }
  .loop--specs {
    position: relative;
    max-width: 80%;
    margin: 50px 8vw;
    .spec-title {
      position: relative;
      top: 0;
      left: 0;
      font-weight: bolder;
      h1 {
        font-size: 1.32em;
        margin-top: 0 !important;
        @media only screen and (max-width: $breakpoint-small) {
          font-size: 1.82em;
        }
      }
    }
    .spec-desc {
      font-size: 1.32em;
      font-weight: 400;
    }
    .spec-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .loop--slider{
    text-align: center;
    .card {
      padding: 50px;
      position: relative;
      max-width: 80%;
      margin: 50px 8vw;
/*      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px #e7e7e7;*/
      .image {
        max-width: 60%;
        margin-left: 20%;
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        h3 {
          font-size: 1.83em;
          font-weight: bolder;
        }
      }
    }
  }
  // Page elements end

}
