/**
Custom styles for 'The Loop' product
 */

.custom-product-loop {
  width: 70%;
  margin: 3em 0;
  .loop-specs {
    width: 100%;
  }
  .loop-gallery {
    width: 100%;
  }
  .loop-introduction {
    width: 100%;
  }
  .loop-video {
    width: 100%;
  }
}

