.header {
  padding-top: 20vh;
}

.header__main {
  padding-top: 2rem;
}

.container {
  padding-top: calc(7rem + 20vh);
}

.heroCarousel {
  padding-top: 20vh;
}

.nicotineWarning {
  background: #fff;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(20vh - 20px);

  margin: 10px;
  border: 10px solid #000;

  padding: 0 5%;
  z-index: 10000;
}

.nicotineWarning__inner {
  font-size: 4.5vw;
  margin-top: calc(10vh - 20px);
  text-align: center;
  transform: translateY(-50%);

  @include breakpoint("large") {
    font-size: 2.2vw;
  }
}

