<section class="product-info-slider"
data-slick='{
    "dots": true,
    "infinite": true,
    "mobileFirst": true,
    "slidesToShow":1,
    "slidesToScroll": 1,
    "arrows": false,
    "lazyLoad": "progressive",
    "responsive": [
        {
            "breakpoint": 550,
            "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 1
            }
        },
        {
            "breakpoint": 800,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 1,
                "dots": false, 
                "arrows": true                           
            }
        }
    ]

}'
>
<div class="info-slide">
    <div class="info-slide-wrapper">
        <span class="icon icon--battery">
            <svg><use xlink:href="#icon-thumbs_up"></use></svg>
        </span>
        <div class="info-slide-content">
            <div class="info-heading">Meet Njoy Daily</div>
            <div class="info-text">Over 90 percent as satisfying as a cigarette</div>
        </div>
    </div>
</div>
<div class="info-slide">
    <div class="info-slide-wrapper">
        <span class="icon icon--battery">
            <svg><use xlink:href="#icon-light_bulb"></use></svg>
        </span>
        <div class="info-slide-content">
            <div class="info-heading">Innovative Design</div>
            <div class="info-text">QuickVapor technology delivers vapor faster</div>
        </div>
    </div>
</div>
<div class="info-slide">
    <div class="info-slide-wrapper">
        <span class="icon icon--battery">
            <svg><use xlink:href="#icon-battery"></use></svg>
        </span>
        <div class="info-slide-content">
            <div class="info-heading">Life Span</div>
            <div class="info-text">Extended battery life to approximately 300 puffs.</div>
        </div>
    </div>
</div>
<div class="info-slide">
    <div class="info-slide-wrapper">
        <span class="icon icon--battery">
            <svg><use xlink:href="#icon-clouds"></use></svg>
        </span>
        <div class="info-slide-content">
            <div class="info-heading">Feel The Difference</div>
            <div class="info-text">Daily creates a strong throat hit for authentic feel.</div>
        </div>
    </div>
</div>
    
</section>
